{% extends "main/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="white-box">
    <h3>Data Search Introduction</h3>
    <div>
        <p>TODO description here.</p>
    </div>
    <div>
        <div class="well">
            <h4>Quick links</h4>
            {#<div><a href="{% url 'citation' %}">Download Citations (txt)</a></div>#}
            {#<div><a href="{% url 'support:download_manual' %}">View the Data Search user manual</a></div>#}
            <div><a href="{% url 'dashboard' %}">Access the main dashboard</a></div>
        </div>
    </div>
</div>

{% endblock %}