<h1>Quality Assurance (QA) Project Plan Development.</h1>
<h2>Office of Research and Development (ORD)</h2>
<h3>Center for Environmental Solutions & Emergency Response (CESER)</h3>

<p> A Quality Assurance Project Plan (QAPP) is a document describing in
    comprehensive detail the necessary quality assurance, quality control,
    and other technical activities that must be implemented to ensure the
    results of the work performed will satisfy the stated performance criteria.
    This web application was developed to assist CESER staff with development
    of approved QAPPs using a team approach. QAPPs created using this web app
    for active research projects are available to facilitate their use during
    ongoing research and to provide examples during planning of new research,
    as well as export the final product for QA Review and approval and entry
    into the <b>ORD QA TRACK</b> database.</p>

<p> More comprehensive guidance on developing QAPPs for research projects is provided
    in the EPA-240-R-02-009 report titled "<b><i>Guidance for Quality Assurance Project
    Plans EPA QA G-5.</b></i>" The completed checklist will be entered into QA
    Track with the approved QAPP by the QA Manager when final. The work on
    this project has been approved under the CESER QAPP K-LRTD-0032360-QP-1-0.</p>
<p>
    <button class="btn btn-default"
            onclick="window.location='https://www.epa.gov/sites/production/files/2015-06/documents/g9-final.pdf'">
        Learn more about USEPA Existing Data &raquo;
    </button>
</p>