{% extends "main/base.html" %}

{% block content %}
<div class="container">
    <h1>QUALITY ASSURANCE PROJECT PLAN.</h1>
    <h2>
        Office of Research and Development
        Center for Environmental Solutions & Emergency Response.
    </h2>
    <p>
        A Quality Assurance Project Plan (QAPP) is a document describing in
        comprehensive detail the necessary quality assurance, quality control,
        and other technical activities that must be implemented to ensure the
        results of the work performed will satisfy the stated performance criteria.
        This web application was developed to assist CESER staff with development
        of approved QAPPs using a team approach. QAPPs created using this web app
        for active research projects are available to facilitate their use during
        ongoing research and to provide examples during planning of new research,
        as well as export the final product for QA Review and approval and entry
        into the ORD QA TRACK database. The work on this project has been approved
        under the CESER QAPP K-LRTD-0032360-QP-1-0.
    </p>
    <p>
        <a class="btn btn-default" href="https://www.epa.gov/sites/production/files/2015-06/documents/g9-final.pdf">
            Learn more about USEPA Existing Data &raquo;
        </a>
    </p>

    {% if request.identity_context_data.authenticated %}
    <div class="row mb-2">
        <button class="col-sm-12 btn btn-md btn-info" onclick="window.location.href='/create'">
            Create a new QAPP
        </button>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover col-sm-12">
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Division Branch</th>
                    <th scope="col">QAPP Title</th>
                    <th scope="col">QA Category</th>
                    <th scope="col">Revision Number</th>
                    <th scope="col">StRAP</th>
                    <th scope="col">Tracking ID</th>
                    <!-- TODO: Show prepared by if you are admin -->
                </tr>
            </thead>
            <tbody>
                {% if qapp_list %}
                {% for qar5 in qapp_list %}
                <tr id="{{qar5.id}}" onclick="rowClick('{{qar5.id}}')">
                    <td scope="row">{{qar5.division_branch}}</td>
                    <td>{{qar5.title}}</td>
                    <td>{{qar5.qa_category}}</td>
                    <td>{{qar5.revision_number}}</td>
                    <td>{{qar5.strap}}</td>
                    <td>{{qar5.tracking_id}}</td>
                </tr>
                <!-- TODO: Show prepared by if you are admin -->
                {% endfor %}
                {% else %}
                <tr><td colspan="6">No Existing Data exist!</td></tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <i class="btn btn-info btn-md" onclick="viewEditExistingQar5(this)" disabled>
                View or Edit Existing QAPP
            </i>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-info btn-md" onclick="exportAllQar5('exportdoc')">
                Export All QAPP to Word Doc
            </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-info btn-md" onclick="exportAllQar5('exportpdf')">
                Export All QAPP to PDF
            </button>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
    <script>
        function viewEditExistingQar5(btn) {
            if ($(btn).attr('disabled')) return;
            window.location.href = '/detail/' + $(btn).attr('id');
        }
        function exportAllQar5(exportType) {
            var goTo = window.location.pathname.replace('list', exportType);
            window.location.href = goTo;
        }
    </script>
{% endblock %}