<div class="row">
    <label class="col-md-3 text-right">Division</label>
    <div class="col-md-9">{{object.division}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Division Branch</label>
    <div class="col-md-9">{{object.division_branch}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">QAPP Title</label>
    <div class="col-md-9">{{object.title}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">QA Category</label>
    <div class="col-md-9">{{object.qa_category}}</div>
</div>
<div class="row">
    <label class="col-md-3 text-right">Intra/Extramural</label>
    <div class="col-md-9">{{object.intra_extra}}</div>
</div>
<div class="row">
    <label class="col-md-3 text-right">Revision Number</label>
    <div class="col-md-9">{{object.revision_number}}</div>
</div>
<div class="row">
    <label class="col-md-3 text-right">Date</label>
    <div class="col-md-9">{{object.date}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">Prepared By</label>
    <div class="col-md-9">{{object.prepared_by}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">StRAP</label>
    <div class="col-md-9">{{object.strap}}</div>
</div>

<div class="row">
    <label class="col-md-3 text-right">QA Tracking ID</label>
    <div class="col-md-9">{{object.tracking_id}}</div>
</div>