{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        {% include 'SectionA/detail_header_footer_partial.html' %}
        <!-- First page of Section A with QAPP details (including Project Leads) -->
        <div class="border rounded p-3 row">
            {% include 'EPA_QAPP_Header_Partial.html' %}
            <div class="col-md-12">
                <div class="col-md-9">{% include 'qapp_details_partial.html' %}</div>
                <div class="col-md-3">
                    <button onclick="window.location.href='/'"
                            class="my-2 col-md-12 btn btn-md btn-info">
                        Back to QAPP List
                    </button>
                    {% if not edit_message %}
                    <button onclick="window.location.href='/edit/{{object.id}}'"
                            class="my-2 col-md-12 btn btn-md btn-warning">
                        Edit QAPP
                    </button>
                    <button onclick="window.location.href='/delete/{{object.id}}'"
                            class="my-2 col-md-12 btn btn-md btn-danger">
                        Delete QAPP
                    </button>
                    {% endif %}

                    <button onclick="window.location.href='/exportdoc/{{object.id}}'"
                            class="my-2 col-md-12 btn btn-md btn-info">
                        Export to Word Doc
                    </button>
                    <button onclick="window.location.href='/exportpdf/{{object.id}}'"
                            class="my-2 col-md-12 btn btn-md btn-info">
                        Export to PDF
                    </button>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                {% include 'SectionA/project_lead_partial.html' %}
            </div>
        </div>

        <!-- Project Approval Page -->
        <div class="border rounded p-3 my-4 row">
            <div class="col-md-12">
                {% include 'SectionA/project_approval_partial.html' %}
            </div>
        </div>

        <!-- This is where A.2 Table of Contents would go in final doc. -->

        {% include 'SectionA/detail_header_footer_partial.html' %}
    </div>

{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}