<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="HandheldFriendly" content="true">
    
{% load static %}
<link rel="shortcut icon" href="https://www.epa.gov/sites/all/themes/epa/favicon.ico" type="image/vnd.microsoft.icon">
<meta name="MobileOptimized" content="width">
<meta http-equiv="cleartype" content="on">
<meta http-equiv="ImageToolbar" content="false">
<meta name="viewport" content="width=device-width">
<meta name="version" content="20161218">
<title>{{title}}</title>

<!-- CSS Block -->
<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/bootstrap-flatly.min.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'lib/jquery-ui.theme.min.css' %}">

<!-- main CSS -->
<link rel="stylesheet" type="text/css" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'EPA_files/s.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/site.css' %}" />

<!-- main JS -->
<link rel="stylesheet" type="text/css" href="{% static 'scripts/datasearch.js' %}" />
