{% extends "main/base.html" %}

{% block content %}

<h2>Environmental Decision Analytics Branch (EDAB)</h2>
<h3>Plastics Projects Research (EDAB)</h3>
<h4>ORD Project: K-LRTD-0032360-QM-1-0; K-LRTD-0032360-QP-1-0</h4>

<address>
    26 Martin Luther King Drive<br />
    Cincinnati, OH 45246<br />
    <abbr title="Phone">P:</abbr>
    513.569.7451
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:young.daniel@epa.gov">SHC.021 Product Lead</a><br />
    <strong>Output Lead:</strong> <a href="mailto:meyer.david@epa.gov">SHC.021 Output Lead</a><br />
    <strong>Manager:</strong> <a href="mailto:gonzalez.michael@epa.gov">CESER Manager</a>
</address>

{% endblock %}
