{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        {% include 'SectionF/header_footer_partial.html' %}
        <div class="border rounded p-3 row">
            {% include 'EPA_QAPP_Header_Partial.html' %}
            <table class="table table-bordered table-hover">
                <caption>Revision History</caption>
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Revision Number</th>
                        <th scope="col">Description</th>
                        <th scope="col">Effective Date</th>
                        <th scope="col">Initial Version</th>
                    </tr>
                </thead>
                {% if revisions %}
                <tbody>
                    {% for revision in revisions%}
                    <tr id="{{revision.id}}">
                        <td scope="row">{{revision.revision}}</td>
                        <td scope="row">{{revision.description}}</td>
                        <td scope="row">{{revision.effective_date}}</td>
                        <td scope="row">{{revision.initial_version}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <tr><td>No Revisions have been created...</td></tr>
                {% endif %}
            </table>
            <div class="col-md-12 text-center">
                <button class="btn btn-md btn-success"
                        onclick="location.href='/revision/create?qapp_id={{qapp_id}}'">
                    Add a New Revision
                </button>
            </div>
        </div>
        {% include 'SectionF/header_footer_partial.html' %}
    </div>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}