{% extends "main/base.html" %}
{% load humanize %}
{#{% load custom_filters %}#}
{% block content %}
<div class="white-box">
    <h4 class="separator">Edit the team name for '{{team.name}}'</h4>
    <form class="form-horizontal" method="post" action="/teams/team/{{team_id}}/edit">
        {% csrf_token %}

        <div class="form-group">
            <label for="name" class="col-sm-1 control-label">Name</label>
            <div class="col-sm-11">
                <input class="form-control" type="text" name="name" value="{{team.name}}"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="float-right">
                    <button type="submit" class="btn btn-md btn-success">Save</button>
                    <button type="reset" class="btn btn-md btn-warning"
                            onclick="window.location='{% url 'team_list' %}'">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
