@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

.word-wrap {
    word-wrap: break-word;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-horizontal-img {
    /*background-color: #0071bc;*/ 
    background-color: #00b0f0;
    font-family: Calibri;
    font-size: 1.5em;
    color: whitesmoke;
    text-align: center;
    padding: 25px;
    vertical-align: middle;
}

.control-label {
    text-align: right;
}

.blue-box-with-shadow {
    background-color: #00b0f0;
    font-family: Calibri;
    font-size: 1.3em;
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    box-shadow: -10px 10px 5px grey;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .5;
}

/* Turn off bullets in Django form UL */
fieldset.inlineLabels ul {
    list-style: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}