{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        {% include "main/base_head.html" %}
        <title>QAPP PDF Export</title>
        <style type="text/css">
            @page {
                size: letter portrait;
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        </style>
    </head>
    <body>
        <div class="white-box">
            <div class="container">
                {% include 'EPA_QAPP_Header_Partial.html' %}

                <div class="text-center" style="margin-top: 4px;">
                    <!-- Cover page data from Qapp object: -->
                    <h4>{{qapp.division}}</h4>
                    <h4>{{qapp.division_branch}}</h4>
                    
                    <br />
                    <h3>EPA Project Leads</h3>
                    {% for lead in qapp_leads %}
                    <h4>{{lead}}</h4>
                    {% endfor %}

                    <br />
                    <h4>{{qapp.intra_extra}}</h4>

                    <h4>{{qapp.qa_category}}</h4>
                    <h4>Revision Number {{qapp.revision_number}}</h4>
                    <h4>Date {{qapp.date}}</h4>

                    <br />
                    <h3>Prepared By</h3>
                    <h4>{{qapp.prepared_by.first_name}} {{qapp.prepared_by.last_name}}</h4>

                    <br />
                    <h4>{{qapp.strap}}</h4>
                    <h4>{{qapp.tracking_id}}</h4>
                </div>

                <hr />

                <div class="text-center">
                    <h3>A.1 Approval Page</h3>
                    <div class="container border">
                        <div class="row text-left">
                            <div class="col-xs-4 border p-2">QA Project Plan Title:</div>
                            <div class="col-xs-8 border p-2">{{qapp_approval.project_plan_title}}</div>
                        </div>
                        <div class="row text-left">
                            <div class="col-xs-4 border p-2">QA Activity Number:</div>
                            <div class="col-xs-8 border p-2">{{qapp_approval.activity_number}}</div>
                        </div>
                        <div class="row text-center" style="background-color: lightgrey">
                            <div class="col-xs-12 border p-2">If Intramural or Extramural, EPA Project Approvals</div>
                        </div>
                        <!-- ITERATE THROUGH EPA SIGNATURES REQUIRED -->
                        {% for sig in signatures %}
                        {% if not sig.contractor %}
                        <div class="row text-left">
                            <div class="col-xs-1 border p-2">Name:</div>
                            <div class="col-xs-3 border p-2">{{sig.name}}</div>
                            <div class="col-xs-2 border p-2">Signature/Date:</div>
                            <div class="col-xs-6 border-top p-2"></div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="row text-left">
                            <div class="col-xs-1 border p-2">Name:</div>
                            <div class="col-xs-3 border-top p-2"></div>
                            <div class="col-xs-2 border p-2">Signature/Date:</div>
                            <div class="col-xs-6 border-top p-2"></div>
                        </div>
                        <!---------------------------------------------------------------------------->
                        <div class="row text-center" style="background-color: lightgrey">
                            <div class="col-xs-12 border p-2">If Extramural, Contractor Approvals</div>
                        </div>
                        <!-- ITERATE THROUGH CONTRACTOR SIGNATURES REQUIRED -->
                        {% for sig in signatures %}
                        {% if sig.contractor %}
                        <div class="row text-left">
                            <div class="col-xs-1 border p-2">Name:</div>
                            <div class="col-xs-3 border p-2">{{sig.name}}</div>
                            <div class="col-xs-2 border p-2">Signature/Date:</div>
                            <div class="col-xs-6 border-top p-2"></div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="row text-left">
                            <div class="col-xs-1 border p-2">Name:</div>
                            <div class="col-xs-3 border-top p-2"></div>
                            <div class="col-xs-2 border p-2">Signature/Date:</div>
                            <div class="col-xs-6 border-top p-2"></div>
                        </div>
                    </div>
                </div>

                <!-- Enforce a page break before the ToC page -->
                <p style="page-break-before: always"/>

                <div class="text-left">
                    <h3 style="color: cornflowerblue">A.2 Table of Contents</h3>
                    <h4>TODO: This will have to be generated after the rest of the document so we know page numbers and contents...</h4>
                    <h4>The ToC will be tricky...</h4>
                </div>

                <div class="text-left">
                    <h3 style="color: cornflowerblue">Definitions and Acronyms</h3>
                    <p>{{section_a.a2}}</p>
                </div>

                <div class="text-left">
                    <h3 style="color: cornflowerblue">Keywords</h3>
                    <p>{{section_a.a2_keywords}}</p>
                </div>

                <!-- Enforce a page break after ToC page(s) and before the rest of the document -->
                <p style="page-break-before: always"/>

                <!-- Revisions Section -->
                <div class="text-left">
                    <h3 style="color: midnightblue">Revision History</h3>
                    <h4>Table 1 QAPP Revision History</h4>
                    <table class="table border">
                        <thead>
                            <tr>
                                <th>Revision Number</th>
                                <th>Date Approved</th>
                                <th>Revision</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rev in revisions %}
                            <tr>
                                <td>{{rev.revision}}</td>
                                <td>{{rev.effective_date}}</td>
                                <td>{{rev.description}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Section A - Executive Summary -->
                <div class="text-left">
                    <h3 stle="color: midnightblue">Section A - Executive Summary</h3>
                    <h4 style="color: cornflowerblue">A.3 Distribution List</h4>
                    <p>{{section_a.a3}}</p>
                    
                    <h4 style="color: cornflowerblue">A.4 Project Task Organization</h4>
                    <p>{{section_a.a4}}</p>
                    {{section_a.a4_chart}}

                    <h4 style="color: cornflowerblue">A.5 Problem Definition Background</h4>
                    <p>{{section_a.a5}}</p>

                    <h4 style="color: cornflowerblue">A.6 Project Description</h4>
                    <p>{{section_a.a6}}</p>

                    <h4 style="color: cornflowerblue">A.7 Quality Objectives and Criteria</h4>
                    <p>{{section_a.a7}}</p>

                    <h4 style="color: cornflowerblue">A.8 Special Training Certification</h4>
                    <p>{{section_a.a8}}</p>

                    <h4 style="color: cornflowerblue">A.9 Documents and Records</h4>
                    <p>{{section_a.a9}}</p>
                </div>

                <!-- Section B -->
                {% for sectionb in section_b %}
                <div class="text-left">
                    <h3 stle="color: midnightblue">Section B - {{sectionb.sectionb_type}}</h3>
                    {% for key, val in sectionb.items %}
                    {% if val.heading %}
                    <h4 style="color: cornflowerblue">{{val.heading}}</h4>
                    {% endif %}
                    <h5>{{val.label}}</h5>
                    <p>{{val.value}}</p>
                    {% endfor %}
                </div>
                {% endfor %}

                <!-- Section C -  -->
                <div class="text-left">
                    <h3 stle="color: midnightblue">Section C</h3>
                    <h4 style="color: cornflowerblue">C.1 - Assessments and Response Actions</h4>
                    <p>{{section_c.c1}}</p>
                    <h4 style="color: cornflowerblue">C.2 - Reports to Management</h4>
                    <p>{{section_c.c2}}</p>
                </div>

                <!-- Section D -  -->
                <div class="text-left">
                    <h3 stle="color: midnightblue">Section D</h3>

                    <h4 style="color: cornflowerblue">D.1 - Data Review, Verification, and Validation</h4>
                    <p>{{section_d.d1}}</p>

                    <h4 style="color: cornflowerblue">D.2 - Verification and Validation Methods</h4>
                    <p>{{section_d.d2}}</p>

                    <h4 style="color: cornflowerblue">D.3 - Reconciliation with User Requirements</h4>
                    <p>{{section_d.d3}}</p>
                </div>

                <!-- References Section -->
                <div class="text-left">
                    <h3 stle="color: midnightblue">References</h3>
                    <p>{{references.references|linebreaksbr}}</p>
                </div>
            </div>
        </div>
    </body>
</html>
