<div class="col-md-12 text-center"><h3>A.1 Approval Page</h3></div>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="col-md-12">
            <label class="col-md-6 control-label">QAPP Plan Title:</label>
            <div class="col-md-6">{{project_approval.project_plan_title}}</div>
        </div>
        <div class="col-md-12">
            <label class="col-md-6 control-label">QAPP Activity Number:</label>
            <div class="col-md-6">{{project_approval.activity_number}}</div>
        </div>
    </div>
    {% if not edit_message %}
    <div class="col-md-6 mt-2">
        <button class="col-md-8 offset-md-4 btn btn-sm btn-warning mb-2" onclick="editApprovalPage({{object.id}})">
            Edit Plan Title and Activity Number
        </button>
        <div class="col-md-12 my-2">
            <label class="col-sm-8 text-right">Manage Signatures:</label>
            <div class="col-sm-1 mr-2 float-right"><i onclick="addApprovalSignature({{object.id}})" class="fas fa-plus btn btn-sm btn-info"></i></div>
            <div class="col-sm-1 mr-2 float-right"><i onclick="editApprovalSignature(this)" class="fas fa-edit btn btn-sm btn-warning approval" disabled></i></div>
            <div class="col-sm-1 mr-2 float-right"><i onclick="removeApprovalSignature(this)" class="fas fa-minus btn btn-sm btn-danger approval" disabled></i></div>
        </div>
    </div>
    {% endif %}
</div>
<table class="table table-bordered table-hover">
    <caption>List of QAPP Approval Signatures</caption>
    <thead class="table-secondary">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">EPA or Contractor</th>
            <th scope="col">Signature</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    {% if project_approval_signatures %}
    <tbody>
        {% for signature in project_approval_signatures %}
        <tr id="project_approval-{{signature.id}}" onclick="rowClick('project_approval-{{signature.id}}')">
            <td scope="row">{{signature.name}}</td>
            {% if signature.contractor %}
            <td>Contractor</td>
            {% else %}
            <td>EPA</td>
            {% endif %}
            <td>{{signature.signature}}</td>
            <td>{{signature.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% else %}
    <tr><td>No Signature fields have been added!</td></tr>
    {% endif %}
</table>