{% extends "base/site_base_support.html" %}
{% block support_content %}
{% load static %}

    <script>
        $(function () {
            var ul = $('#upload ul');
            // Change this to the location of your server-side upload handler:
            var url = '/support/file/upload/{{support.id}}/';

            $('#drop a').click(function(){
                // Simulate a click on the file input button to show the file browser dialog
                $(this).parent().find('input').click();
            });

            // Initialize the jQuery File Upload plugin
            $('#upload').fileupload({
                // This element will accept file drag/drop uploading
                dropZone: $('#drop'),

                // This function is called when a file is added to the queue;
                // either via the browse button, or via drag/drop:
                add: function (e, data) {
                    var tpl = $('<li class="working"><input type="text" value="0" data-width="48" data-height="48"' +
                    ' data-fgColor="#0788a5" data-readOnly="1" data-bgColor="#3e4043" /><p></p><span></span></li>');

                    // Append the file name and file size
                    tpl.find('p').text(data.files[0].name)
                            .append('<i>' + formatFileSize(data.files[0].size) + '</i>');

                    // Add the HTML to the UL element
                    data.context = tpl.appendTo(ul);

                    // Initialize the knob plugin
                    tpl.find('input').knob();

                    // Listen for clicks on the cancel icon
                    tpl.find('span').click(function(){
                        if(tpl.hasClass('working')){
                            jqXHR.abort();
                        }
                        tpl.fadeOut(function(){
                            tpl.remove();
                        });
                    });
                    // Automatically upload the file once it is added to the queue
                    var jqXHR = data.submit();
                },

                progress: function(e, data){
                    // Calculate the completion percentage of the upload
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    // Update the hidden input field and trigger a change
                    // so that the jQuery knob plugin knows to update the dial
                    data.context.find('input').val(progress).change();
                    if(progress == 100){
                        data.context.removeClass('working');
                    }
                },

                fail:function(e, data){
                    // Something has gone wrong!
                    data.context.addClass('error');
                }
            });

            // Prevent the default action when a file is dropped on the window
            $(document).on('drop dragover', function (e) {
                e.preventDefault();
            });

            // Helper function that formats the file sizes
            function formatFileSize(bytes) {
                if (typeof bytes !== 'number') {
                    return '';
                }
                if (bytes >= 1000000000) {
                    return (bytes / 1000000000).toFixed(2) + ' GB';
                }
                if (bytes >= 1000000) {
                    return (bytes / 1000000).toFixed(2) + ' MB';
                }
                return (bytes / 1000).toFixed(2) + ' KB';
            }
        });
    </script>

    <h3>{{title}} #{{support.id}}</h3>
    <div class="text-muted vmargin20">
        {{instructions}}
    </div>

    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="." role="form" novalidate>
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger">
            <h5>Please correct the following errors</h5>
            {% for field in form %}
            {% if field.errors %}
                <div>{{field.label_tag}} {{ field.errors|striptags }}</div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}

        {% if success %}
        <div class="alert alert-success">
            {{success}} <span class="glyphicon glyphicon-ok"></span>
        </div>
        {% endif %}

        {% if warn %}
        <div class="alert alert-warning">
            {{warn}}
        </div>
        {% endif %}

        {% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <div>{{field.label_tag}}</div>
                <div class="help-block">{{field.help_text}}</div>
            </label>
            <div class="col-sm-10">
                {{field}}
                {% if field.errors %}<div class="alert alert-danger">{{field.errors.as_text}}</div>{% endif %}
            </div>

        </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Submit" class="btn btn-success">
                Add Any Attachments Before Submitting
            </div>
        </div>
    </form>

    <script>
        $(".chosen-select").chosen({});
        $(".date-control").datepicker({ dateFormat: "yy-mm-dd" });
    </script>

    {% if support_attachments %}
        <br>
        <p><h3>File Attachments</h3></p>

        <table class="example table-autosort table-stripeclass:alternate table-autofilter" id="support_attachments_table">
            <thead id="support_attachments_head">
            <tr>
                <th class="table-sortable:alphanumeric">Filename</th>
                <th class="table-header">Delete</th>
            </tr>
            <tr>
                <th class="table-filterable"></th>
                <th class="table-header"></th>
            </tr>

            </thead>
            <tbody id="support_attachments_body">
                {% for obj in support_attachments %}
                    <tr>
                        <td class='filename_td'><a href="{{MEDIA_URL}}{{obj.attachment|urlencode}}">{{obj.the_name}}</a></td>
                        <td><a href="{% url 'support:delete_support_attachment' obj.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div>
        {% if support.id %}
        <form id="upload" method="post"action={% url 'support:file_upload_support' support.id %} enctype="multipart/form-data">
            {% csrf_token %}
            <div id="drop">
                Drop Files ONLY Here
                <a>Browse</a>
                <input type="file" name="upl" multiple />
            </div>
            <ul><!-- The file uploads will be shown here --></ul>
        </form>
        {% endif %}
    </div>

    <script>
        $(".date-control").datepicker({ dateFormat: "yy-mm-dd" });
    </script>

{% endblock %}
