<div class="row text-center">
    <div class="col-md-3"><a href="/SectionA?qapp_id={{qapp_id}}"><< Previous Page</a></div>
    <div class="col-md-6">
        <h2>QAPP Section B</h2>
        <div class="form-group">
            <select class="form-control input-lg" id="sectionb_type_selector" onchange="SectionBTypeChanged(this)">
                {% for type in selected_sectionb_types %}
                <option value="{{type.id}}" {% if type.id == sectionb_type.id %} selected {% endif %}>{{type.name}}</option>
                {%  endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-3"><a href="/SectionC?qapp_id={{qapp_id}}">Next Page >></a></div>
    {% if edit_message %}
    <div class="col-sm-12 text-danger">{{edit_message}}</div>
    {% endif %}
</div>
