{% extends "main/base.html" %}
{% block content %}
{% load static %}

    <div class="container">
        {% include 'SectionB/header_footer_partial.html' %}
        {% if save_success %}
        <h3 id="save_success" class="text-success col-md-12 text-center">{{save_success}}</h3>
        {% endif %}
        <div class="border rounded p-3 row">
            {% include 'EPA_QAPP_Header_Partial.html' %}
            <div class="col-md-12">
                <form enctype="multipart/form-data" action="/SectionB?qapp_id={{qapp_id}}" method="post" role="form" id="sectionb_form">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group row hidden">{{form.qapp}}</div>

                        <!------- Section B1_2 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b1_2.label}} {{sectionb_type.name}} Use
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b1_2.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b1_2}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b1_2}}</div>
                        </div>

                        <!------- Section B1_3 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b1_3.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b1_3.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b1_3}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b1_3}}</div>
                        </div>

                        <!------- Section B1_4 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b1_4.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b1_4.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b1_4}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b1_4}}</div>
                        </div>

                        <!------- Section B1_5 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b1_5.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b1_5.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b1_5}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b1_5}}</div>
                        </div>

                        <!------- Section B2_1 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b2_1.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b2_1.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b2_1}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b2_1}}</div>
                        </div>

                        <!------- Section B2_2 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b2_2.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b2_2.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b2_2}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b2_2}}</div>
                        </div>

                        <!------- Section B2_3 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b2_3.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b2_3.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b2_3}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b2_3}}</div>
                        </div>

                        <!------- Section B2_4 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b2_4.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b2_4.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b2_4}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b2_4}}</div>
                        </div>

                        <!------- Section B2_5 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b2_5.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b2_5.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b2_5}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b2_5}}</div>
                        </div>

                        <!------- Section B3 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b3.label}}
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b3.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b3}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b3}}</div>
                        </div>

                        <!------- Section B4 ------->
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">
                                {{form.b4.label}} {{sectionb_type.name}} Tracking
                                <a tabindex="0" data-trigger="focus" data-container="body" class="text-info fa fa-info-circle"
                                   role="button" data-toggle="popover" title="{{form.b4.label}}" data-placement="top"
                                   data-content="{{SECTION_B_INFO.b4}}" onclick="delayRemoveFade()"></a>
                            </label>
                            <div class="col-sm-8">{{form.b4}}</div>
                        </div>


                        <div class="row justify-content-center">
                            <button type="submit" class="m-2 col-md-2 btn btn-md btn-success save">Save Changes</button>
                            <button type="reset" class="m-2 col-md-2 col-md-offset-1 btn btn-md btn-warning">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'SectionB/header_footer_partial.html' %}
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    });
</script>
{% endblock %}